.navbar {
  position: fixed;    
  top: 0; 
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box; 
  padding: 1rem 3rem;
  background:rgb(227, 238, 255);
  color: black;
  z-index: 1000; 
  margin: 0 auto;
}
/* Logo */
.logo {
  font-size: 0.4rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Links */
.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  position: relative;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: rgb(98, 98, 190);
  left: 0;
  bottom: -4px;
  transition: width 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  width: 100%;
}

.nav-link.active {
  color: #1952a3;
}

.menu-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  color: #1952a3;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: -100%;
    background: #cad4f2;
    flex-direction: column;
    width: 220px;
    text-align: right;
    padding: 1rem;
    transition: right 0.3s ease-in-out;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 0 12px;
  }

  .nav-links.active {
    right: 0;
  }

  .menu-icon {
    display: block;
  }
}
